:root {
  --svgDimension: 25px;
  --borderRadius: 5px;

  /* BRITNEY  */
  --colorGreen: #1ab90f;
  --colorBlack: #17141f;
  --colorPurple: #902bb1;
  --colorDark: #4c495d;
  --colorWhite: #d1d7e0;
}

/* -- TYPO -- */
h1 {
  font-size: 2rem;
  color: var(--colorWhite);
}

.friends h2.title,
.groups h2.title,
.account h2.title,
.activities h2.title,
.settled-expenses h2.page-title,
.expense-detail h2.title {
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 0.75em;
  text-transform: capitalize;
  color: var(--colorWhite);
  background-color: var(--colorBlack);
  border-radius: 10px;
  padding: 0.5em;
  color: var(--colorPurple);
}

h3.date {
  font-size: 0.75rem;
  font-weight: 700;
  opacity: 0.4;
}

h3.no-friends,
h3.no-expenses {
  text-align: center;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
}

.right-col {
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  text-align: right;
}

p.subtitle {
  opacity: 0.4;
  font-size: 0.75rem;
  font-weight: 700;
}

header p {
  font-size: 1rem;
}

/* -- BTN/LINK -- */
.control-btns button,
.btn {
  box-shadow: 0px 0px 2px black;
}
.control-btns button:hover,
.control-btns button:active,
.btn:hover,
.btn:active,
.settled-expenses button:hover,
.settled-expenses button:active {
  background-color: var(--colorPurple);
  color: var(--colorWhite);
  border: 1px solid transparent;
  box-shadow: none;
}

button.add-expense {
  color: var(--colorWhite);
  background-color: var(--colorPurple);
  border-radius: 30px;
  padding: 1em 1.5em;
  position: fixed;
  z-index: 10;
  bottom: 6em;
  right: 1em;
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 0.75rem;
  border: none;
}

.modal-header button {
  border: none;
  background-color: transparent;
  color: var(--colorWhite);
}

.delete-btn,
.edit-btn,
.logout-btn,
.settle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-btn {
  margin-top: auto;
}

.accept-req-btn {
  margin: 0 auto;
}

.back-btn {
  margin-right: auto;
}

.friend-settings {
  color: var(--colorWhite);
}

.friend-settings-option {
  cursor: pointer;
  margin-top: 2em;
  display: grid;
  grid-template-columns: auto 1fr;
}

.friend-settings-option svg {
  margin-right: 2em;
}

.save-btn {
  margin-left: auto;
  height: 24px;
}

/* -- LAYOUT -- */

svg {
  height: var(--svgDimension);
  width: var(--svgDimension);
}

/* -- HERO --  */

.hero-bg {
  height: 100px;
  max-width: 500px;
  background: var(--colorPurple);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 1em;
  display: flex;
  gap: 0.5em;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.hero-bg svg {
  color: var(--colorWhite);
}

header .profile-pic {
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  height: 120px;
  margin: 0 auto;
  transform: translateY(30%);
  border: 5px solid var(--colorBlack);
}

.hero-content {
  margin-top: 25px;
  padding: 1em 5em 0;
  text-align: left;
  color: var(--colorWhite);
}

.total-debt-info {
  display: grid;
  grid-template-columns: auto auto;
}

.hero-content .name {
  text-align: center;
}

/* -- MAIN -- */

main {
  padding: 1em 1em 5em;
  position: relative;
  background-color: var(--colorBlack);
  color: var(--colorWhite);
  position: relative;
}

.control-btns {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  margin: 1em 0;
}

section.expenses {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

div.expense,
p.expense {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

div.expense :first-child,
p.expense :first-child {
  flex: 1;
}

div.expense :nth-child(2) {
  flex: 4;
}

div.expense :nth-child(3) {
  flex: 2;
}

.title-container {
  margin-right: auto;
}

.friend-main {
  padding-bottom: 10em;
  position: relative;
}

/* -- EXPENSE -- */

.expense-content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.expense-detail .subtitle {
  text-align: center;
}

.expense-detail {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.expense-detail .details {
  text-align: center;
}

.expense-detail img {
  margin: auto;
}

.expense-detail .grid {
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
  text-align: center;
}

.expense-detail .grid svg {
  height: 50px;
  width: 50px;
  margin: auto;
  color: var(--colorWhite);
}

/* -- MODAL -- */
.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100svh;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--colorBlack);
  border: 1px solid black;
}

.modal > * {
  max-width: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.modal-header {
  background-color: var(--colorPurple);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  height: 100px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.modal-header-wrapper {
  max-width: 100%;
  background-color: var(--colorPurple);
}

.modal-header * {
  font-size: 1rem;
  text-transform: uppercase;
}

/* if this is removed, the modal header items
   are no longer on the same line,
   couldn't figure out why... */
.modal-header h1,
.modal-header .save-btn,
.modal-header .back-btn {
  border: 1px solid transparent;
  height: 24px;
}

.modal-header button {
  padding: 0;
}

.modal form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 1em 5em;
  margin-top: 2em;
}

.modal form input,
.account-settings input {
  background-color: var(--colorDark);
  color: var(--colorWhite);
  width: 100%;
  text-align: left;
  outline: 1px solid var(--colorWhite);
  border-radius: var(--borderRadius);
  font-size: 2rem;
  padding: 0.5em 0.25em;
}

#amount,
#title {
  font-size: 1.5rem;
  width: 100%;
}

select {
  position: relative;
  border-radius: 5px;
  outline: none;
  padding: 0;
  background-color: var(--colorDark);
  color: var(--colorWhite);
  font-size: 1.5rem !important;
}

option,
select {
  text-align: center;
}

.modal form .pay-options-btn,
.modal form p {
  grid-column: 1/-1;
  margin: 0 auto;
  font-weight: 400;
  text-transform: none;
}

.modal form p {
  opacity: 0.75;
}

.expense-context {
  padding: 0.25em;
}

.react-calendar {
  position: absolute;
  background-color: var(--colorWhite);
  color: var(--colorDark);
  height: max-content;
  z-index: 2;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: var(--borderRadius);
}

.react-calendar abbr {
  color: var(--colorBlack);
}

.react-calendar__tile--hasActive {
  background: var(--colorPurple) !important;
}
.react-calendar__tile--hasActive abbr {
  color: var(--colorWhite) !important;
}

.react-calendar__tile--active {
  background: var(--colorPurple) !important;
  color: var(--colorWhite) !important;
}

.react-calendar__tile-active abbr {
  color: var(--colorWhite) !important;
}

.calendar {
  margin: auto;
}

.calendar svg {
  height: 20px;
  width: 20px;
  margin-right: 1em;
}

.split,
.sucker {
  grid-column: 1/-1;
}

.sucker {
  display: flex;
  gap: 1em;
}

.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  text-align: center;
}

.split img {
  margin: auto;
}

.sucker * {
  width: 50%;
}

.split-input-wrapper,
.amount-input-wrapper {
  position: relative;
  display: inline-block;
}

.percent,
.currency {
  position: absolute;
  top: 50%;
  right: 0.5em;
  transform: translateY(-50%);
}

.percent {
  pointer-events: none;
}

/* -- Friends -- */

.friends {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 250px;
}

.friend {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--colorWhite);
  background: var(--colorBlack);
  border-radius: 10px;
  padding: 0.5em;
}

.friend p {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0.25rem;
}

.friend span {
  text-align: center;
}

.profile-pic-small {
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  height: 100px;
  display: inline-block;
  margin: 0 0.25em;
  cursor: pointer;
}

.profile-pic-tiny {
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  height: var(--svgDimension);
  display: inline-block;
}

.friends-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-bottom: 1em;
}

.search-users {
  position: relative;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.search-users * {
  width: 80%;
}

.dropdown {
  border: 1px solid var(--colorWhite);
  background-color: var(--colorBlack);
  display: flex;
  flex-direction: column;
  grid-area: 0.25em;
  border-radius: var(--borderRadius);
  margin-top: -0.9em;
  padding: 0.25em 1em;
  position: absolute;
  top: 4em;
  max-height: 200px;
}

.dropdown-elem {
  cursor: pointer;
}

.friend-request {
  margin: 1em 0;
}

.friend-request-info {
  display: flex;
  align-items: center;
}
.friend-request-info p {
  margin-left: 0.5em;
}

.btns {
  display: grid;
  grid-template-columns: min-content min-content auto;
  gap: 1em;
  margin-top: 1em;
}

.search-list {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 100%;
  padding: 0.25em;
  border-radius: 5px;
}

.search-list:hover {
  background-color: var(--colorPurple);
}

.search-list img {
  height: 1.5em;
  width: 1.5em;
}

.friend-info {
  margin-right: auto;
  padding-left: 1em;
}

/* -- LOGIN/REGISTER -- */
.login,
.register {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  flex-grow: 1;
}

.login-form input,
.register-form input,
.search {
  font-size: 1rem;
  padding: 0.75em 1em;
  border: 1px solid black;
  border-radius: var(--borderRadius);
}

/* -- ACCOUNT -- */
.account {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.account-image {
  display: flex;
}

.account-image svg {
  align-self: end;
}

.account .profile-pic {
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  height: 200px;
  margin: 0 auto;
}

.account-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* -- ACCOUNT SETTINGS */

.account-settings,
.account-info,
.friend-settings {
  text-align: left;
  padding: 1em 3em;
  align-items: unset !important;
  gap: 1em;
}

.account-settings select {
  width: fit-content;
}

label {
  font-size: 0.8rem;
  margin-bottom: -1.25em;
}

.account-settings h2 {
  display: flex;
  gap: 0.25em;
  align-items: center;
}

.profile-img-upload {
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.profile-img-preview-wrapper {
  position: relative;
  width: 80%;
  min-height: 260px;
  min-width: 260px;
  aspect-ratio: 1/1;
  overflow: visible;
}

img.reactEasyCrop_Image {
  overflow: visible;
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.reactEasyCrop_CropArea {
  border-radius: 50%;
  width: 100% !important;
  height: 100% !important;
}

/* -- ACTIVITY -- */

.activities-list {
  width: 100%;
  padding: 0 2em;
}

.activity {
  margin: 1em 0;
}

/* -- FOOTER -- */
.footer-nav {
  padding: 0.5em 3em;
  font-size: 0.75rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--colorDark);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: var(--colorWhite);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

nav a:active,
nav a:hover,
.footer-nav .active {
  color: var(--colorGreen);
}

/* -- UTILITY -- */
.green {
  color: var(--colorGreen);
  font-weight: bold;
}

.red {
  color: var(--colorPurple);
  font-weight: bold;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fd-column {
  flex-direction: column;
}

.jc-sb {
  justify-content: space-between;
}

.hidden {
  display: none;
  opacity: 0;
}

.bg-purple {
  background-color: var(--colorPurple);
  color: var(--colorWhite);
}

.bg-green {
  background-color: var(--colorGreen);
  color: var(--colorWhite);
}

.regular-font {
  font-weight: 400;
}

.divider {
  border-bottom: 1px solid var(--colorWhite);
  height: 0px;
  margin: 0 -1em;
}

.pb-1em {
  padding-bottom: 1em;
}

.pointer {
  cursor: pointer;
}

/* Firefox */
.no-spinners {
  -moz-appearance: textfield;
}

/* Webkit browsers like Chrome and Safari */
.no-spinners::-webkit-inner-spin-button,
.no-spinners::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Microsoft Edge */
.no-spinners::-ms-clear {
  display: none;
}

/* -- SCROLLING -- */
.scrollable {
  overflow-y: scroll;
}

/* Custom scrollbar styles */
.scrollable::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar (for horizontal scroll) */
}

.scrollable::-webkit-scrollbar-track {
  border-radius: 50%; /* Rounded corners for the track */
  margin: 1px 0;
}

.scrollable::-webkit-scrollbar-thumb {
  background: var(--colorWhite); /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded corners for the thumb */
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: var(--colorPurple); /* Thumb color on hover */
}

/* -- MEDIA -- */

@media (width <= 500px) {
  .friends h2.title,
  .friend {
    border-radius: 0;
  }
}
