@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:focus:not(:focus-visible) {
  outline: none;
}

label,
button,
select,
a,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

/* -- TYPO -- */

/* -- BTN/LINK -- */
button,
.btn {
  background-color: var(--colorWhite);
  color: var(--colorBlack);
  border-radius: 5px;
  padding: 0.5em 1em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: var(--colorWhite);
}

/* -- LAYOUT -- */
body,
#root {
  line-height: 1.5;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  background-color: var(--colorBlack);
}

main,
nav,
.hero-content {
  max-width: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: var(--colorPurple);
  height: 100px;
}

main {
  flex-grow: 1;
}

/* -- ADS --------------------------------------------------------------------------------------*/

iframe {
  margin-top: calc(100dvh - 190px - 50px);
  margin-right: calc(50dvw - 210px);
}

/* -- UTILITY -- */

/* -- MEDIA -- */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
